---
layout: page
title: 五月祭特設ページ
---

<h3>第93回五月祭に参加します</h3>
{% include youtube id="Uju8uIVxE5c" %}

<p>
    今年の五月祭はオンラインで開催されます。
    私たちプラレーラーズは<strong>プラレールの遠隔操作体験</strong>を行います。自宅からプラレールを運転しよう！
</p>

<p class="buttons is-centered">
    <a href="https://wayo11.github.io/platotype/" class="button is-warning is-two-thirds is-medium">プラレール遠隔操作体験を申し込む</a>
</p>

<p>1日目(20日)のライブ配信はこちらです。</p>

{% include youtube id="OQPIMQSyqio" %}

<p>2日目(21日)のライブ配信はこちらです。</p>

{% include youtube id="zbYh1hRxeOE" %}

<p>遠隔操作体験の方法は以下の動画をご覧ください</p>

{% include youtube id="4wzDQppkze4" %}

<p>遠隔操作体験に用いた技術に関しては以下の動画をご覧ください</p>

{% include youtube id="nICkxNSP1iI" %}

<p>五月祭公式ページの企画説明は<a href="https://gogatsusai.jp/93/visitor/kikaku/458">こちら</a></p>
