---
layout: default
---

<div class="jumbotron">
  <h1><span>&nbsp;ものづくりを、</span><span>はじめよう。&nbsp;</span></h1>
</div>
<div class="container">
  <section class="section-main">
    <article>
      <h3>東京大学プラレーラーズとは？</h3>
      <p>
        <strong>プラレールの自動制御</strong>と<strong>ジオラマ作成</strong>をしているサークルです。
        主に本郷キャンパスで活動しています。
      </p>
    </article>
    {% if site.posts.size > 0 %}
    <article>
      <h3>最新の記事</h3>
      <ul>
        {% for post in site.posts %}
          <li>
            {{ post.date | date: "%Y/%m/%d" }}
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </article>
    {% endif %}
    <article>
      <h3>加入を考えている方へ</h3>
      <p>
        <p>
        こんにちは！プラレーラーズは<strong>プラレールの自動制御</strong>と<strong>ジオラマ作成</strong>をしているサークルです！マイコンを使った電子工作でプラレールを改造して遊んでみませんか？
        </p>
        <p>
        去年の五月祭ではストップレールを制御した閉塞運行システムを、駒場祭ではテレビのリモコンを使った操縦を披露しました！
        </p>
        <p>
        活動では集まって開発のための話し合いをしたり、半田付けやプログラムを書いたりジオラマを作成したりして学園祭に向けた準備をしています！
        </p>
        <p>
        <strong>ものづくりが好き</strong>で<strong>機械や電気、情報に興味がある人</strong>、<strong>自由な発想を生かしたい人</strong>、そして<strong>鉄道好きやジオラマ好きの人</strong>は大歓迎です！皆さんの入サーを<strong>お待ちしています！！</strong>
        </p>
        <p>春から新しいサークルに入ろうと考えている<strong>二年生</strong>も大歓迎です！</p>
        <p>お問い合わせはメールかTwitterのDMでお願いします！</p>
        <p>Mail plarailers@gmail.com<br>Twitter 下のリンク</p>
      </p>
    </article>
    <article>
      <h3>第93回五月祭</h3>
      <p>
        第93回五月祭に参加します。<br>
        <ul>
          <li>2020年5月16日（土）</li>
          <li>2020年5月17日（日）</li>
        </ul>
      </p>
    </article>
  </section>
  <section class="section-side">
    <article>
      <h3>Twitter</h3>
      <a class="twitter-timeline" data-height="800" href="https://twitter.com/plarailers?ref_src=twsrc%5Etfw">Tweets by plarailers</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </article>
  </section>
</div>
