---
layout: page
title: 駒場祭特設ページ
---

<h3><strong>『プラレールの自動運転』</strong>と<strong>『遠隔運転体験』</strong>の2つの企画を行います！</h3>

<br>
<h4>『自動運転』</h4>
<p>
    プラレールをダイヤ通りに自動運転させました。
    その様子を以下の動画で公開中です。　
    駒場祭期間限定の公開ですので、お見逃しなく！
    
    <h6>プラレールのダイヤ通りの自動運転の動画</h6>
    {% include youtube id="r7YqN0R19BY" %}
    　
    また、自動運転の実演を、11/23(月)の11:00、13:00、15:00 の3回、YouTube Liveにてライブ配信します。
    詳しくはページの下部へ
</p>
<br>

<h4>『遠隔運転体験』</h4>

<p>
    五月祭で好評だったプラレールの遠隔運転体験を今回も実施します！
    お手元のスマホやパソコンからプラレールを操作すれば気分はまるで運転手！
    ご予約は下のボタンから！
</p>

<p class="buttons is-centered">
    <a href="https://wayo11.github.io/platotype/" class="button is-warning is-two-thirds is-medium">プラレール遠隔操作体験を申し込む</a>
</p>

<p>遠隔操作体験の方法は以下の動画をご覧ください</p>

{% include youtube id="4wzDQppkze4" %}

<br>
<h4>『YouTube Live』</h4>

<p>
    当日は、会場の様子を生配信しています。
    また、自動運転の実演を、11/23(月)の11:00、13:00、15:00 の3回、
    メンバーの解説付きでYouTube Liveにてライブ配信します。
    お楽しみに！
</p>

<br>
<h4>技術紹介動画</h4>
<p>ハードウェア（車体）</p>
{% include youtube id="fzrQrezOH7w" %}
<p>ハードウェア（レール）</p>
{% include youtube id="qFHehiKOMoo" %}
<p>ソフトウェア</p>
{% include youtube id="WEs6IcbzY0U" %}

<h5>遠隔運転体験 YouTube Live</h5>
<p>2日目</p>
{% include youtube id="06Oa_vbdLbc" %}
<p>3日目</p>
<p>(準備中...)</p>


<h4>駒場祭公式ページの企画説明</h4>
<a href="https://www.komabasai.net/71/visitor/kikaku/317"><u>こちら</u></a></p>
