<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.title %}
  <title>{{ page.title }} | プラレーラーズ</title>
  {% else %}
  <title>プラレーラーズ</title>
  {% endif %}
  <meta property="og:url" content="https://plarailers.github.io{{page.url}}" />
  <meta property="og:title" content="プラレーラーズ" />
  <meta property="og:description" content="東京大学プラレーラーズは、プラレールの自動制御とジオラマ作成をしているサークルです。主に本郷キャンパスで活動しています。" />
  <meta property="og:image" content="https://plarailers.github.io/assets/img/logo.jpg" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@plarailers" />
  <meta name="twitter:creator" content="@plarailers" />
  <link rel="icon" href="/assets/img/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100&display=swap&text=東京大学プラレーラーズものづくりを、はじめよう。" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143513555-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-143513555-3');
  </script>
</head>
<body class="has-navbar-fixed-top">
  <nav class="navbar is-fixed-top is-unselectable p-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item has-text-white" href="/">
        <span class="p-navbar-logo"></span>
        <span class="p-navbar-text">東京大学プラレーラーズ</span>
      </a>
      <a role="button" class="navbar-burger burger has-text-white" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item has-text-white" href="/komabasai/">
          駒場祭特設ページ
        </a>
        <a class="navbar-item has-text-white" href="/posts/">
          記事一覧
        </a>
        <a class="navbar-item has-text-white" href="/welcome/">
          加入を考えている方へ
        </a>
      </div>
    </div>
  </nav>
  {{ content }}
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a href="https://twitter.com/plarailers" target="_blank" rel=”noopener” class="link-twitter">
          <span class="icon p-icon-twitter"><i class="fab fa-twitter fa-fw"></i></span>
          @plarailers
        </a>
      </p>
      <p>
        <a href="https://github.com/plarailers" target="_blank" rel=”noopener” class="link-github">
          <span class="icon p-icon-github"><i class="fab fa-github fa-fw"></i></span>
          @plarailers
        </a>
      </p>
      <p>
        <a href="mailto:plarailers@gmail.com" target="_blank" rel=”noopener” class="link-email">
          <span class="icon"><i class="far fa-envelope fa-fw"></i></span>
          <small>plarailers@gmail.com</small>
        </a>
      </p>
    </div>
  </footer>
  <script src="/assets/js/main.js"></script>
</body>
</html>
