---
layout: default
---

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ page.title }}
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          {{ content }}
        </div>
      </div>
      <div class="column is-one-quarter">
        <div>
          <h3 class="subtitle">Twitter</h3>
          <a class="twitter-timeline" data-height="600" href="https://twitter.com/plarailers?ref_src=twsrc%5Etfw">Tweets by plarailers</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</section>
