---
layout: default
---

<div class="container">
  <section class="section-main">
    <article>
      <h3>{{ page.title }}</h3>
      {{ content }}
    </article>
  </section>
  <section class="section-side">
    <article>
      <h3>Twitter</h3>
      <a class="twitter-timeline" data-height="1000" href="https://twitter.com/plarailers?ref_src=twsrc%5Etfw">Tweets by plarailers</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </article>
  </section>
</div>
