---
layout: default
---

<div class="container">
  <section class="section-main">
    <article>
      <h2>{{ page.title }}</h2>
      <div class="post-date">{{ page.date | date: "%Y/%m/%d" }}</div>
      {{ content }}
      {% if page.author %}
      <div class="post-author">文責：{{ page.author }}</div>
      {% endif %}
    </article>
  </section>
  <section class="section-side">
    <article>
      <h3>Twitter</h3>
      <a class="twitter-timeline" data-height="800" href="https://twitter.com/plarailers?ref_src=twsrc%5Etfw">Tweets by plarailers</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </article>
  </section>
</div>
