---
layout: default
---

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ page.title }}
      </h1>
      <nav class="mainTags">
        <h2>タグ:</h2>
        <ul>
          {% for tag in page.tags %}
          <li><a href="/tags/tags#tag_{{ tag }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          <p class="has-text-right">
            {{ page.date | date: "%Y/%m/%d" }}
          </p>
          {{ content }}
          {% if page.author %}
          <p class="has-text-right">
            文責：{{ page.author }}
          </p>
          {% endif %}
        </div>
      </div>
      {% include right_column.html %}
    </div>
  </div>
</section>

